services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: pr-user
      POSTGRES_PASSWORD: pr-pass
      POSTGRES_DB: pull-request-service
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pr-user -d pull-request-service"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
